:root {
    --title-unit:  1px;
    --title-width: calc(550 * var(--title-unit));

    @media screen and (max-width: $view-mobile) {
        --title-unit:  0.33px;
    }
}

.tittle-container {

    text-align: center;
    width: var(--title-width);
    background: #00B16A;
    display: grid;
    z-index: 1;
    justify-self: center;
    margin-top: 50px;
    border-radius: 15px 15px 0 0;
    position: relative;

    h2 {
        margin: 12px 0 30px 0;
        color: white;
        z-index: 3;
    }
    
    .grass-image {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 44px;
        background-image: url('../../../img/shared/grass.png');
        background-repeat-y: no-repeat;
        background-size: contain;
        background-position: bottom;
    }
}