
nav {
    display: grid;
    background: var(--main-color);
    grid: var(--gt);
    padding: 15px 0;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

    img {
        grid-column: 1;
        align-self: center;
        height: 45px;
    }

    ul {
        display: flex;
        grid-column: 3;
        justify-content: space-between;
        align-items: center;
        color: var(--primary-font-color);
        li {
            display: inline-block;

            a:hover {
                cursor: pointer;
                border-bottom: 3px solid currentColor;
            }

            a {
                color: currentColor;
                text-decoration: none;
            }
        }
    }
}