@import '../../variables.scss';
section {
    display: grid;
    grid: $gt;
}
nav {
    display: grid;
    background: $main-color;
    grid-column: 1 / -1;
    grid: $gt;
    padding: 15px 0;

    .content {
        display: grid;
        grid-column-start: 2;
    }

    img {
        grid-column: 1;
        align-self: center;
        height: 45px;
    }

    ul {
        display: flex;
        grid-column: 3;
        justify-content: space-between;
        align-items: center;
        color: $primary-font-color;
        li {
            display: inline-block;
        }
    }
}